.header {
   height: 50px;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   justify-content: space-between;
}
.scores {
   color: blueviolet;
}

.section {
   width: 800px;
   display: flex;
   margin-top: 100px;
   padding-left: 250px;
}
h1, p, .footer {
   text-align: center;
}
p {
   display: flex;
   font-size: 20px;
}
.btn {
   background-color: blueviolet;
   color: white;
   border-radius: 3px;
}