* {
   margin: 0;
   padding: o;
   box-sizing: border-box;
}
li {
   list-style: none;
}
.wrapper{
   padding: 10px;
   height: 10vh;
   display: flex;
   flex-direction: column;
   justify-content: start;
}
.header p {
   float: right;
}
.header h4{
   color: blueviolet
}
.main-section {
   display: flex;
}
.quiz, main {
   height: 100%;
   width: 50%;
   margin: 0 auto;
   text-align: center;
   margin-top: 10%;
}
.quiz-intro p {
   display: flex;
   font-size: 20px;
}
button {
   background-color: blueviolet;
   color: white;
   border-radius: 3px;
}
.quiz-intro {
   display: block;
}
.questions {
   display: none;
}
.quiz-end {
   display: none;
}
.hs-screen {
   display: none;
}